.calculator {
    width: 250px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #BEBBBA;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(11, 147, 45, 0.1);
}

#display {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 10px;
    background-color: #8D8480;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #685850;
    color: #423025;
    cursor: pointer;
}

button:hover {
    background-color:#BEBBBA;
}